body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
canvas {
    position: absolute;
    height: 100%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.selectBox {
    border: 1px solid #55aaff;
    background-color: rgba(75, 160, 255, 0.15);
    position: fixed;
    z-index: 1;
}

.flexBetween {
    justify-content: space-between;
    display: flex;
}

#hoverInfo {
    background-color: #ffffffa4;
	position: absolute;
	text-align: center;
	z-index: 100;
	display:block;
}

#container {
    position: relative;
}
#colorbarCanvas{
    position: fixed;
    pointer-events: none;
    z-index: 2;
    width: 450px;
    height: 150px;
    bottom: 0;
    right: 200px;
}

#menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    opacity: 0.95;
    background: white;
}

#baseList {
    width: auto;
    max-width: 350px;
    overflow-y: auto;
    font-size: 12px;
}

.toggleGroup_w2 {
    width: 175px !important;
}

.toggleGroup_w1 {
    width: 90px !important;
}

.tight {
    padding-bottom: 0 !important;
}

.window {
    z-index: 999;
    max-height: 90%;
}


/* 96 well plate table definitions */
table.plate96{
    width: 390px;   /* needs to be number of colls multiplied by cell width */
    height:270px;   /* needs to be number or rows multiplied by cell height */
    table-layout: fixed;
    border-collapse: expand;
    /*border: 1px solid black;*/

}

/* make table with fixed cell size */
table.plate96 td tr th {
    width: 30px;
    height:30px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

/* filled wells color*/
td.full {
    background : #00FF00;
    border-radius: 15px;
}
/* empty wells color */
td.empty {
    background : lightgrey;
    border-radius: 15px;
}